*{
    box-sizing: border-box;
}

body{
    
    background-color: #c7b198;
}

/* header */

.header{
    background-color: #596e79;
}

/* navbar */
.navLogo{
width: 60px;
}

/* hero image */
.hero{
    background-image: linear-gradient(#f0ece2,#dfcdc3,#dfd3c3, #ebcbae
    );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* cards */

.row{
    margin-top: 25px;
    display: flex;
    justify-content: center;   
    
}

.cardContainer{
    height: 400px;
}

.card{
    height: 300px;
    margin: 20px;
}

.btn{
  background-color: #596e79;
  color: white;
}
.cardTitle{
  color: #eb2632;
  font-weight: bolder;
}

.pClass{
  color: #e8630a;
  font-weight: bold;
}

/* about container */
.about-container{
    display: flex;
    align-items:flex-start
  }

  .about-container h3{
    margin-right: 10px;
  }

  .about-container p{
    margin-left: 2rem;
  }

  /* work container */
  .work-container{
    display: flex;
    flex-direction: column;
  }

  .mainImage{
    width: 100%;
    height: auto;
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
   background-size: cover;
  }

  .secondImage{
    background-image: url("../images/img2.jpg");
  }


  .thirdImage{
    background-image:url("../images/img6.jpg") ;
  }

  .fourthImage{
    background-image: url("../images/img4.jpg");
  }

  .fifthImage{
    background-image: url("../images/img5.jpg");
  }