*{
    box-sizing: border-box;
}

body{
    
    background-color: #c7b198;
}

/* header */

.header{
    background-color: #596e79;
}

/* navbar */
.navLogo{
width: 60px;
}

/* hero image */
.hero{
    background-image: linear-gradient(#f0ece2,#dfcdc3,#dfd3c3, #ebcbae
    );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* cards */

.row{
    margin-top: 25px;
    display: flex;
    justify-content: center;   
    
}

.cardContainer{
    height: 400px;
}

.card{
    height: 300px;
    margin: 20px;
}

.btn{
  background-color: #596e79;
  color: white;
}
.cardTitle{
  color: #eb2632;
  font-weight: bolder;
}

.pClass{
  color: #e8630a;
  font-weight: bold;
}

/* about container */
.about-container{
    display: flex;
    align-items:flex-start
  }

  .about-container h3{
    margin-right: 10px;
  }

  .about-container p{
    margin-left: 2rem;
  }

  /* work container */
  .work-container{
    display: flex;
    flex-direction: column;
  }

  .mainImage{
    width: 100%;
    height: auto;
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   border: 5px #c7b198 solid;
  }

  .secondImage{
    background-image: url("../images/img2.jpg");
    border: 5px #c7b198 solid;
  }


  .thirdImage{
    background-image:url("../images/img6.jpg");
    border: 5px #c7b198 solid;
  }

  .fourthImage{
    background-image: url("../images/img4.jpg");
    border: 5px #c7b198 solid;
  }

  .fifthImage{
    background-image: url("../images/img5.jpg");
    border: 5px #c7b198 solid;
  }

  /* footer */
  
  .footer-container{
    display: flex;
    margin: 30px 0;
      }
    
    footer ul{
        width: 65%;
        display: flex;
        margin-left: 4rem;
        justify-content: space-evenly;
        
        
    }
    
    footer ul li{
        margin-left: 10px ;
        list-style-type: none;
        
    }
    
    @media(max-width:600px){
        footer ul{
            flex-direction: column;
        }
    
        footer ul li{
            width: 100%;
            text-align: center;
            margin: 5px;
            text-align: left;
        }
    }
    